.filterHomes {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
    border-radius: 10px;
    max-width: 300px;
    margin: 10px 0;
    height: max-content;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #222222;
    border-radius: 10px 10px 0 0;
}

.titleLogo {
    font-family: maktab;
    font-weight: bold;
    padding: 0 7px;
    font-size: 1rem;
    color: whitesmoke;
}

.iconTitle{
    margin: 0 10px;
    color: #e4022b;
}

.titleIcon{
    color: gray;
    font-family: maktab;
    font-weight: 700;
    font-size: .9rem;
}