* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gandom;
}

@font-face {
  font-family: nazanin;
  src: url(./../public/fonts/Nazanin.ttf);
}

@font-face {
  font-family: gandom;
  src: url(./../public/fonts/Gandom.ttf);
}

@font-face {
  font-family: maktab;
  src: url(./../public/fonts/Gandom.ttf);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.flexbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexaround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerMain {
  margin-top: 100px;
}

.btnAdvantage {
  padding: 10px;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  border: none;
  outline: none;
  margin: 5px;
  background-color: #fff;
  border: 1px solid gray;
  color: #000;
  width: 100px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btnAdvantage:hover {
  border: 1px solid rgb(48, 48, 48);
}

.titleSection {
  padding: 15px 0px;
  font-size: 1.5rem;
  font-family: maktab;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.logoNav {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #e4002b;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWhite {
  color: #fff;
  padding: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
  border-radius: 10px;
}

.logoNavFooter {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoColorBlue {
  background-color: blue !important;
}
.logoColorGreen {
  background-color: green !important;
}
.logoColorBrown {
  background-color: brown !important;
}