* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gandom;
}

@font-face {
  font-family: nazanin;
  src: url(./../public/fonts/Nazanin.ttf);
}
@font-face {
  font-family: gandom;
  src: url(./../public/fonts/Gandom.ttf);
}
@font-face {
  font-family: maktab;
  src: url(./../public/fonts/Gandom.ttf);
}


a{
    text-decoration: none!important;
    color: inherit!important;
}
.flexbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexaround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerMain{
  margin-top: 100px;
}
